 @font-face {
 	font-family:"Open Sans Light";
 src:url("src/OpenSans-Light.eot?") format("eot"),
 url("src/OpenSans-Light.woff") format("woff"),
 url("src/OpenSans-Light.ttf") format("truetype"),
 url("src/OpenSans-Light.svg#OpenSans-Light") format("svg");
 font-weight:normal;
 font-style:normal;
}
 @font-face {
 	font-family:"Open Sans Bold";
 src:url("src/OpenSans-Bold.eot?") format("eot"),
 url("src/OpenSans-Bold.woff") format("woff"),
 url("src/OpenSans-Bold.ttf") format("truetype"),
 url("src/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
 font-weight:normal;
 font-style:normal;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin,cyrillic-ext,cyrillic);

body{
	margin: 0;
	background-color: #3b5065;
}
.logo{
	font-family: "Open Sans Light";
	color: #3f4944;
	font-size: 22pt;
	text-align: center;
}
#anagram{
	font-family: "Open Sans Bold";
	font-size: 35pt;
	padding-top: 80px;
}

header{
background-color: #c0d9d3;
margin: 0;
height: 250px;
}

@keyframes flyLeft{
	from{left: 30%;}
	to{left: 0;}
}
@-moz-keyframes flyLeft{
from{left: 30%;}
to{left: 0;}	
}

@-webkit-keyframes flyLeft{
from{left: 30%;}
	to{left: 0;}	
}

@keyframes flyRight{
	from{right: 30%;}
	to {right: 0;}
}
@-moz-keyframes flyRight{
	from{right: 30%;}
	to {right: 0;}
}

@-webkit-keyframes flyRight{
	from{right: 30%;}
	to {right: 0;}
}
#skyL{
	float: left;
	width: 322px;
	height: 200px;
	background-image: url('src/skyL.png');
	position: absolute;
	animation: flyLeft 1s 1;
	-webkit-animation: flyLeft 1s 1;
	left: 0;
}
#skyR{
	float: right;
	width: 374px;
	height: 174px;
	background-image: url('src/skyR.png');
	position: absolute;
right: 0px;
top: 13px;
animation: flyRight 1s 1;
-webkit-animation: flyRight 1s 1;
}

menu{
	text-align: center;
}
menu ul{

}
menu li {
	list-style: none;	
	display: inline-block;
	padding: 5px 30px 5px 30px;
	}
menu li a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: #3f4944;
	display: block;
}
menu li a:hover{
color: #c98344;
}
#now{
	background-color: #0e6f76;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	
}
#now a{
	color: white;
}
.wraper{
	background-color: #e8fbc8;
	font-family: 'Open Sans', sans-serif;
font-weight: normal;
padding: 5px 20px 10px 20px;

}
 
 .wraper h1{
 	font-family: 'Open Sans', sans-serif;
 	font-size: 20pt;
 	color: #fff;
 	text-align: center;
 }

 .wraper form{
 	width: 520px;
 	margin: 0 auto;
 	background-color: #3da081;
 	border-radius: 10px;
 	-webkit-border-radius: 10px;
 	padding: 10px;
 	overflow: hidden;
 }
 .wraper input{
 	font-family: 'Open Sans', sans-serif;
font-weight: normal;
 	padding: 5px;
	border: 1px solid #d4d4d4;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 4px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 4px;
	-webkit-border-radius: 4px 5px 4px 5px;
	line-height: 1.5em;	
	box-shadow: inset 0px 2px 2px #ececec;
 }
 .wraper textarea{
 	font-family: 'Open Sans', sans-serif;
font-weight: normal;
 	width: 500px;
 	height: 100px;
 	padding: 5px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 1em;	
	box-shadow: inset 0px 2px 2px #ececec;
 }

 button{
 	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	background-color: #0e6f76;
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border-width: 0;
	color: #fff;
	cursor: pointer;
 }
 button:hover{
 	background-color: #147063;
 }
 button:active{
 	background-color: #ed7425;
 }
.clear{
	clear: both;
}
 .navigation {
 	float: left;
 	width: 30%;
 }

 .navigation li{
 	list-style: none;
 	display: block;
 	
 }
 .navigation li a{
 	text-decoration: none;
 	color: #3f4944;
 	font-weight: normal;
 	display: block;
 	padding: 5px 20px 5px 20px;
 	border-radius: 5px;
 	-webkit-border-radius: 5px;
 }
 .navigation li a:hover{
 	background-color: #435b73;
 	color: #fff;
 }
 .navigation li a:active{
 	background-color: #0e6f76;
 	color: #fff;
 }
 .contacts{
padding-left: 30px;
float: left;
width:  50%;
 }
 .contacts h1{
 		color: #3f4944;
 		text-align: left;
 }
 .contact ul{
 	float: left;
 }
 .contact #site{
 	display: block;
 	float: right;
 	padding: 5px;
 	background-color:  #ec6045;
 	border-radius: 10px;
 	-webkit-border-radius: 10px;
 	width: 125px;
 	height: 120px;
 }

 .contact #mobile{
 	display: block;
 	float: right;
 	padding: 10px 5px 5px;
 	background-color:  #9f58c0;
 	border-radius: 10px;
 	-webkit-border-radius: 10px;
 	width: 125px;
 	height: 120px;
 	text-align: center;
 }
 .contact #desctop{
 	display: block;
 	float: right;
 	padding: 10px 5px 5px;
 	background-color:  #38bb6b;
 	border-radius: 10px;
 	-webkit-border-radius: 10px;
 	width: 125px;
 	height: 120px;
 	text-align: center;
 }
.contact  #desctop img{
 	width: 100%;
 }
 .contact #manager{
 	display: block;
 	float: right;
 	padding: 10px 5px 5px;
 	background-color:  #3893ca;
 	border-radius: 10px;
 	-webkit-border-radius: 10px;
 	width: 125px;
 	height: 120px;
 	text-align: center;
 }
 .contact  #manager img{
 	width: 100%;
 }

footer{
	color: rgba(255,255,255, .6);
	height: 180px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 30px;
	padding-top: 20px;
}

#developers {
	
	vertical-align: top;
}
#developers .dev{
	width: 160px;
	height: 160px;
	border-radius: 80px;	
	-webkit-border-radius: 80px;
	margin-right: 20px;
	display: inline-block;
	overflow: hidden;
	transition:  .5s;
	
	font-weight: lighter;
}
#developers .dev:hover{
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	height: 250px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
#developers .pic{
	border-radius: 75px;
	-webkit-border-radius: 75px;
	border-color: #fff;
	border-style: solid;
	border-width: 5px;
	width: 150px;
	height: 150px;	
	overflow: hidden;
	position: relative;
	color: transparent;
	text-align: center;
}
#developers .pic img{
	width: 150px;
	height: 150px;
	-webkit-border-radius: 75px;
}
#developers .dev p{
	margin: 0;
	text-align: center;
	font-size: small;
}


/* Страничка примеров*/
#samples{
	margin-left: 20px;
	float: left;
	width: 60%;
	padding-top: 20px;

}

#samples li{
	list-style: none;
	display: inline-block;
	width: 200px;
	background-color: white;
	color: #3f4944;
	min-height: 200px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;

}
#samples li p{
	margin: 0;
	font-size: 14px;
	text-align: center;
}
#samples li img{
	width: 200px;

}
#samples li:hover{
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#samples li a{
	display: block;
	color: #3f4944;
	text-decoration: none;
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
}
#content{
	width: 80%;
	margin: 0 auto;
}
footer .block{
	height: 180px;
	width: 250px;
	float: left;
	border-top-style:  solid;
	border-top-width: 2px;
	border-top-color: rgba(0,0,0,0.5);
	font-weight: lighter;
	margin-left: 10px;
}
footer .block img {
    width: 30px;
    margin-top: 10px;
}
footer .block h1{
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	margin-top: 2px;
	margin-bottom: 4px;
}
footer a{
color: rgba(255,255,255, .6);
text-decoration: none;
}
footer a:hover{
	color: #fff;
}
footer li{
	list-style: none;
}
footer #copy{
	float: right;
	vertical-align: bottom;
	margin-top: 160px;
	font-size: 10px;
}
article{
width: 80%;
margin: 0 auto;
}
article #image{
	text-align: center;

}
article #image img{
    width: 500px;
}
#content h1{
    font-weight: lighter;
    color: #3f4944;
}
article p{

}
 #arrowLeft{
     position: absolute;
     top: 60%;
     left: 0;
 }
 #arrowLeft img{
     width: 30px;
 }
 #arrowRight{
     position: absolute;
     top: 60%;
     right: 0;
 }
 #arrowRight img{
     width: 30px;
 }
#content article h2 a{
    text-decoration: none;
    color: #3f4944;
}
#articlename{
    display: none;
    position: absolute;
}